<div class="bg-[#f1f5f9] flex items-center justify-center min-h-screen">

    <div class="w-[400px] bg-white p-8 rounded-lg shadow">
        <h1 class="text-xl font-semibold text-black mb-6 flex items-center justify-center">
            S'inscrire
        </h1>

        <form class="space-y-4" (ngSubmit)="onRegister()">
            <input type="text" placeholder="Nom" required [(ngModel)]="credentials().firstName" name="firstName"
                class="w-full px-4 py-2 border rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-[#c2a5f9]" />
            <input type="text" placeholder="Prénom" required [(ngModel)]="credentials().lastName" name="lastName"
                class="w-full px-4 py-2 border rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-[#c2a5f9]" />
            <input type="email" placeholder="Adresse email" required [(ngModel)]="credentials().email" name="email"
                class="w-full px-4 py-2 border rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-[#c2a5f9]" />
            <input type="password" placeholder="Mot de passe" required [(ngModel)]="credentials().password"
                name="password"
                class="w-full px-4 py-2 border rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-[#c2a5f9]" />

            <button type="submit" class="w-full bg-[#b894f9] hover:bg-[#a57ef8] text-white text-sm py-2.5 rounded-md">
                S'inscrire
            </button>
        </form>
    </div>

</div>